body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #282828; /* Gruvbox dark background */
    color: #ebdbb2; /* Gruvbox light text color */
}

header {
    background-color: #1d2021; /* Gruvbox darker background */
    color: #fbf1c7; /* Gruvbox light text color */
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #d79921; /* Gruvbox yellow */
    text-decoration: none;
}

main {
    padding: 2rem;
}

footer {
    background-color: #1d2021; /* Gruvbox darker background */
    color: #fbf1c7; /* Gruvbox light text color */
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
